---
- name: Install a WoD frontend server
  hosts: all
  gather_facts: true
  tasks:
    - name: Base setup for a base system
      ansible.builtin.include_tasks: "{{ WODINSANSDIR }}/install_base_system.yml"

    - name: Add ubuntu updates GPG Key to APT
      become: true
      become_user: root
      ansible.builtin.apt_key:
        url: https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key
        state: present
      when:
        - ansible_facts['distribution'] == "Ubuntu"
        - ansible_facts['distribution_major_version'] >= "20"
        - ansible_facts['distribution_major_version'] < "26"

    - name: Nodejs 20.x repo needs to be used
      become: true
      become_user: root
      ansible.builtin.apt_repository:
        repo: deb https://deb.nodesource.com/node_20.x nodistro main
        state: present
      when:
        - ansible_facts['distribution'] == "Ubuntu"
        - ansible_facts['distribution_major_version'] >= "20"
        - ansible_facts['distribution_major_version'] < "26"

    - name: Nodejs 20.x repo needs to be used with deb822
      become: true
      become_user: root
      ansible.builtin.deb822_repository:
        name: nodejs
        types: deb
        uris: https://deb.nodesource.com/node_20.x 
        suites: "nodistro"
        components:
          - main
        architectures: amd64
        signed_by: https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key
      when:
        - ansible_facts['distribution'] == "Ubuntu"
        - ansible_facts['distribution_major_version'] >= "26"

    - name: Nodejs repo needs to be pinned
      become: true
      become_user: root
      ansible.builtin.blockinfile:
        path: /etc/apt/preferences.d/nodejs
        owner: root
        group: root
        mode: "0644"
        backup: true
        create: true
        state: present
        block: |
          Package: nodejs
          Pin: origin deb.nodesource.com
          Pin-Priority: 600
      when:
        - ansible_facts['os_family'] == "Debian"

    - name: Ensure all non-required packages are uninstalled
      become: true
      become_user: root
      ansible.builtin.package:
        name:
          - nodejs
          - libnode-dev
          - libnode72
        state: absent

    - name: Ensure all required packages are installed
      become: true
      become_user: root
      ansible.builtin.package:
        name:
          - ansible
          - git
          - rsync
          - wget
          - bzip2
          - jq
          - moreutils
          - net-tools
          - nodejs
          - telnet
          - man
          - unzip
        state: present

    - name: Ensure all required packages are installed
      become: true
      become_user: root
      ansible.builtin.package:
        name:
          - npm
        state: present
      when:
        - ansible_facts['distribution'] == "Ubuntu"
        - ansible_facts['distribution_major_version'] <= "22"

    - name: Ensure all required DEB packages are installed
      become: true
      become_user: root
      ansible.builtin.apt:
        pkg:
          - apt-file
          - ldap-utils
          - libproc-processtable-perl
          - acct
          - yarn
          - netcat-openbsd
      when:
        - ansible_facts['os_family'] == "Debian"

    - name: Ensure all required RPM packages are installed
      become: true
      become_user: root
      ansible.builtin.yum:
        pkg:
          - openldap-clients
          - perl-Crypt-PasswdMD5
          - perl-Proc-ProcessTable
          - perl-Data-Dumper
          - psacct
          - netcat
      when:
        - ansible_facts['distribution'] == "CentOS"
        - ansible_facts['distribution_major_version'] >= "7"

    - name: Ensure required directories under /usr/local are owned by "{{ WODUSER }}"
      become: true
      become_user: root
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: "{{ WODUSER }}"
        group: "{{ WODUSER }}"
        mode: "0755"
      with_items:
        - /usr/local/bin
        - /usr/local/share

    - name: Disable WoD services
      become: true
      become_user: root
      ansible.builtin.systemd:
        state: stopped
        daemon_reload: true
        enabled: false
        name: "{{ item }}"
      ignore_errors: true
      register: ignore_errors_register
      with_items:
        - wod-kill-processes

    - name: Copy WoD service file as ansible template for variable expansion
      become: true
      become_user: root
      ansible.builtin.template:
        src: "{{ item }}"
        dest: /etc/systemd/system/{{ item | basename | regex_replace('\.j2$') }}
        mode: "0644"
      with_fileglob: ['{{ WODINSSYSDIR }}/wod-*.service.j2']

    - name: Copy WoD frontend startup script as ansible template for variable expansion
      become: true
      become_user: root
      ansible.builtin.template:
        src: "{{ item }}"
        dest: /usr/local/bin/{{ item | basename | regex_replace('\.j2$') }}
        mode: "0755"
      with_fileglob: ["{{ WODINSSYSDIR }}/wod-npm-app.j2"]

    - name: Enable WoD service
      become: true
      become_user: root
      ansible.builtin.systemd:
        state: started
        daemon_reload: true
        enabled: true
        name: "{{ item }}"
      with_items:
        - wod-kill-processes

    - name: Setup ansible configuration
      ansible.builtin.copy:
        src: "{{ WODINSANSDIR }}/.ansible.cfg"
        dest: "{{ ansible_env.HOME }}/.ansible.cfg"
        owner: "{{ WODUSER }}"
        group: "{{ WODUSER }}"
        mode: "0644"

    - name: Setup security
      ansible.builtin.include_tasks: "{{ WODINSANSDIR }}/install_secure.yml"

    - name: Test private tasks YAML file
      ansible.builtin.command: ls "{{ WODANSIBLEPRIVDIR }}/install_frontend.yml"
      register: acj_path
      failed_when: false
      changed_when: false

    - name: Now call private tasks if available
      ansible.builtin.include_tasks: "{{ WODANSIBLEPRIVDIR }}/install_frontend.yml"
      when:
        - acj_path.rc == 0
